---
import Layout from "../layouts/Layout.astro";
import { Image } from "@astrojs/image/components";
import avatar from "../images/avatar.png";
import github from "../images/github.png";
import IndexCard from "../components/IndexCard.astro";
import "@fontsource/noto-sans-sc";
---

<Layout title="Yukkoの部屋">
  <div class="mx-auto w-screen h-screen flex justify-center">
    <main class="py-16 px-4 flex flex-col gap-10">
      <div class="flex flex-col justify-center gap-8">
        <Image
          class:list={["rounded-full"]}
          src={avatar}
          alt="icon"
          height={120}
          width={120}
        />
        <div>
          <h1
            class="text-3xl font-bold tracking-wide text-gray-800 hover:text-text-pink transition-colors duration-200"
          >
            Yukkoの部屋
          </h1>
          <span class="text-md text-gray-700">Keep Learning</span>
        </div>
      </div>
      <div class="grid grid-cols-2 md:grid-cols-3 gap-6">
        <IndexCard imgSrc={github} link="https://github.com/yukkodesu" title="GitHub" text="@yukkodesu"/>
        <div class="rounded-2xl shadow-sm p-6 w-full border-gray-200 border">
          <h2>Blog</h2>
        </div>
        <div class="rounded-2xl shadow-sm p-6 w-full border-gray-200 border">
          <h2>Blog</h2>
        </div>
      </div>
    </main>
  </div>
</Layout>

<style>
  body {
    font-family: "Noto Sans SC";
  }
</style>
